* {
    padding: 0px;
    margin: 0px;
    
}

body {
    width: 100%;
    height: 100%;
    background-color: #9941bf41;
}



header {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, #7471D9, #9941bf41);
}

header nav div.social-icon {
    text-align: left;
}

header nav div.scrolls {
    text-align: right;
    padding-right: 40px;
}

header {
    text-align: right;
    color: black;
    min-height: 80px;
    margin-right: 40px;
}

header div.center {
    text-align: center;
}

header div h1 {
    font-size: 3.5em;
    
}

header p {
  font-size: 1.5em;
}

main {
  background-color: rgb(248, 236, 236);
  margin: 0px 40px 0px 40px;
}

main h1 {
  font-size: 2em;

}

a {
  color: black;
  text-decoration: none;
}

nav {

  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
  padding: 10px;

}

nav > a {
 
    color: black;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.3s;
}

a:hover {
    text-decoration: underline;
    background-color: #7471D9;
    color: #1f3473;
}






























  
  :root {
    --animation-delay: 0.5s;
    --duration: 800ms;
    --iterations: 1;
  }
  
  
  .reveal {
    position: relative;

    user-select: none;
    animation-name: reveal-text;
    cursor: default;
  }
  .reveal:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3686ff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
  .reveal, .reveal:after {
    animation-delay: var(--animation-delay);
    animation-iteration-count: var(--iterations);
    animation-duration: var(--duration);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .reveal.purple:after {
    background-color: #b39fff;
  }
  .reveal.purple, .reveal.purple:after {
    animation-delay: 0.75s;
  }
  
  @keyframes reveal-text {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  @keyframes revealer-text {
    0%, 50% {
      transform-origin: 0 50%;
    }
    60%, 100% {
      transform-origin: 100% 50%;
    }
    60% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }





  .social-icon a {
    color: #666;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }

  
  .social-icon a:hover {
    color: #fff !important;
  }
  
  .social-icon .facebook:hover {
    background: #3b5999;
  }
  
  .social-icon .twitter:hover {
    background: #4A9CEC;
  }
  
  .social-icon .instagram:hover {
    background: #D6274D;

  }
  
  .social-icon .linkedin:hover {
    background: #1260A2;
  }
  
  .social-icon .google:hover {
    background: #CE332A;
  }



 


  .social-icon a:hover {
    color: #fff !important;
  }
  
  .social-icon .facebook:hover {
    background: #3b5999;
  }
  
  .social-icon .twitter:hover {
    background: #4A9CEC;
  }
  
  .social-icon .instagram:hover {
    background: #D6274D;
  }
  
  .social-icon .linkedin:hover {
    background: #1260A2;
  }
  
  .social-icon .google:hover {
    background: #CE332A;
  }

  